<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationId</key>
	<string>e399add9-10f8-4513-b7f2-f7ce1a646a14</string>
	<key>applicationSecret</key>
	<string>26c5c5a4d26ebb791bc34b6ea6821a9c7b61680b</string>
	<key>applicationRoute</key>
	<string>todkapauth.mybluemix.net</string>
</dict>
</plist>
